services:

  backend:
    image: ghcr.io/m0wer/rssfilter-backend:master
    container_name: rssfilter-backend
    build:
      context: backend
    environment:
      API_BASE_URL: "https://rssfilter.sgn.space/"
      ROOT_PATH: "/api"
      REDIS_URL: "redis://redis:6379"
      MAX_WORKERS: ${MAX_WORKERS}
    labels:
      traefik.http.routers.backend.entrypoints: web
      traefik.http.routers.backend.rule: PathPrefix(`/api`)
      traefik.http.routers.backend.service: backend
      traefik.http.services.backend.loadbalancer.server.port: 80
    volumes:
      - ${SQLITE_PATH:-./data/}:/app/data/
    depends_on:
      - redis
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  frontend:
    image: ghcr.io/m0wer/rssfilter-frontend:master
    container_name: rssfilter-frontend
    build:
      context: frontend
      target: final
    environment:
      API_BASE_URL: "${API_BASE_URL:-https://rssfilter.sgn.space/api/v1/}"
    labels:
      traefik.http.routers.frontend.entrypoints: web
      traefik.http.routers.frontend.rule: PathPrefix(`/`)
      traefik.http.routers.frontend.service: frontend
      traefik.http.services.frontend.loadbalancer.server.port: 8501
    restart: unless-stopped

  proxy:
    image: traefik:v2.3
    hostname: traefik
    command:
     - --providers.docker
     - --entryPoints.web.address=:80
    ports:
      - ${PROXY_PORT:-80}:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: rssfilter-redis
    volumes:
      - ${REDIS_PATH:-./redis/}:/data
    restart: unless-stopped
