aiohttp
dateparser
fastapi
fastapi-cache2[redis]
feedgen
feedparser
gunicorn
httpx
loguru
lxml
numpy
pytest
pytest-asyncio
pytest-cov
rich
scikit-learn
scipy
sqlmodel
tenacity
torch==2.2.1
transformers
typer
uvicorn
