aiodns
aiohttp
alembic
dateparser
fastapi
fastapi-cache2[redis]
feedgen
feedparser
gunicorn
httpx
kaleido
loguru
lxml
numpy<2.0
pandas
plotly
pytest
pytest-asyncio
pytest-cov
python-multipart
rich
rq
scikit-learn
scipy
sqlmodel
tenacity
torch==2.2.1
transformers
typer
uvicorn
