aiohttp
alembic
dateparser
fastapi
fastapi-cache2[redis]
feedgen
feedparser
gunicorn
httpx
kaleido
loguru
lxml
numpy
pandas
plotly
pytest
pytest-asyncio
pytest-cov
python-multipart
rich
scikit-learn
scipy
sqlmodel
tenacity
torch==2.2.1
transformers
typer
uvicorn
